.chat-bubble{
    padding: 0.8em 1em;
    margin: 0 0 5px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    p{
        margin: 0;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 500;
    }
}

.chat-bubble[data-owner="true"]{
    background-color: rgb(181, 181, 211);
    border-bottom-left-radius: 20px;
}

.chat-bubble[data-owner="false"]{
    background-color: rgb(211, 185, 194);
    border-bottom-right-radius: 20px;
}


