<div class="chat-bubble" [attr.data-owner]="owner">
    <div ngClass="message-space">
        <div ngClass="user-info" [attr.data-displayName]="message.user?.displayName">
            <img [src]="message.user?.photoURL" [alt]="message.user?.displayName">
        </div>
        <div [ngClass]="{'message-content':true,darkMode:(this.appState.darkMode$|async)}">
            <p>
                {{message.value}}
            </p>
        </div>
    </div>
    <div *ngIf="message.status=='error'" class="error-warning mt-2" >
        <small>
            unable to send the message
        </small>
    </div>
</div>