

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="appState.toggleDraw()">
    <mat-icon>menu</mat-icon>
</button>
<div class="name-and-image"> 
   <span *ngif="appState.user?.photoURL">
       <img class="userphoto"  src="{{appState.user?.photoURL}}" alt="photo" srcset="">
   </span>
    
    <span>{{appState.user?.displayName}}</span>
</div>
<span class="example-spacer"></span>
<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
</button>
</mat-toolbar>
