
h1{
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.login-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-image: url('/assets/ffflurry.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.outer-border{
    height: 200px;
    width: 260px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2em;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.353);
    background-color: #ffffff;
}

.form-body{
    text-align: center;
}

.loginBtn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.loginBtn ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff;
}

.g-sign-in-btn{
margin: 1em 0;
}

.g-sign-icon-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}