
.notification-container{
    display: flex;
    gap: 10px;
}

.bar{
    width: 5px;
    border-radius: 3px;
}

.success{
    background-color: rgb(58, 182, 93);
}

.error{
    background-color: rgb(234,78,46);
}

.message-container{
    flex: 1;
}

.message{
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
}