<div>
    <!-- <div>
        <button mat-icon-button> <mat-icon>closed</mat-icon> </button>
    </div> -->
    <div class="search-field">
        <mat-form-field appearance="legacy">
            <input type="text" matInput [formControl]="searchFormControl" placeholder="Search..">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="searchResultes">
        <div *ngFor="let user of filterUsers$ |async">
            <app-add-friends-list-item 
            [user]="user"
            [actionFunction]="actionFunction"
            [onNextAction]="onNextAction"
            [onComplectAction]="onComplectAction"
            [onErrorAction]="onErrorAction"
            [buttonText]="'Add'"
            [btnClass]="'abcd'"
            ></app-add-friends-list-item>
            <mat-divider></mat-divider>
        </div>

    </div>

</div>