.searchResultes{
    width: 80%;
    margin: auto;
}



.searchResult-item{
    display: flex;
    padding: 17px;
    border-radius: 9px;
    align-items: center;
    height: 100px;
}

.item-img img{
    width: 69px;
    object-fit: contain;
    border-radius: 50%;
}

.item-info{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    p{
        font-size: 1.5em;
        margin: 6px 0px 0px 8px;
        font-weight: 500;
    }
}
.item-btn{
    border-radius: 50px;
    height: 35px;
}



@media only screen and (max-width: 425px){
    .searchResultes{
        width: 95%;
    }
    
    .item-info p{
        font-size: 1.3em;
    }
}

.chip-list ::ng-deep .mat-standard-chip{
    min-height: 21px;
}