
.main-section{
  height: 100vh;
}

.main-header{
  height: 64px;
}

.chat-body{
  height: calc(100vh - 64px) ;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  aside{
  width: 350px;
  height: 100%;
  overflow-y: scroll;
  }
  main{
    /* margin: 1em 1em 0 1em; */
    padding: 1em 1em 0 1em;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    flex: 1;
    
  }

}

.drawer-sidenav{
  background-color: white;
  width: 250px;
}