<div *ngIf="!appState.isAuthUser || appState.hasError; else authTemplate ">
  <router-outlet></router-outlet>
</div>

<ng-template #authTemplate >
  <section class="main-section">
  <header class="main-header">
    <app-header></app-header>
  </header>
  <div *ngIf="appState.isViewPortLarge; else elseBlock" class="chat-body">
    <aside>
      <app-chatlist [renderInAside]="true"></app-chatlist>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

  <ng-template #elseBlock>
    <div class="chat-body">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </ng-template>
</section>
</ng-template>