.chat-view-section{
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 3px 4px 1px #dce4dc;
}

.darkMode .nav{
    box-shadow: -2px 3px 4px 1px #00000099;
}

.username-placeholder{
    font-size: 18px;
    font-weight: 500;
}

.username-placeholder::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.username-placeholder[data-active="true"]::after{
    background-color: #21d900;
}

.username-placeholder[data-active="false"]::after{
    background-color: #3b3a3a;
}

.chat-view-body{
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
}

.message-list{
    height: calc(100vh - 176px);
    overflow: hidden;
    overflow-y: scroll;
}

.message-list::-webkit-scrollbar{
    display: none;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-top: 5px;
    .input-field{
        width: 100%;
        background-color: inherit;
        color: inherit;
        border: 2px solid rgb(62, 61, 61);

    }
}

.darkMode .input-field{
    border: 1px solid white;
}

.darkMode .input-field:focus-visible{
    background-color: inherit;
    color: inherit;
    outline: 3px auto white;
}

.message-list{
    display: flex;
    flex-direction: column;
    // gap: 10px;
}

.connectionStatus{
    text-align: center;
    background: #b30b0b;
    color: white;
    border-radius: 4px;
}
