<section class="chat-view-section">
    <div *ngIf="!chatSocket?.socketStatus" class="connectionStatus">
        Can not connect to server
    </div>
  <nav class="nav">
    <button mat-icon-button aria-label="go back button" (click)="goBack()"> 
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="username-placeholder" data-active="true">
        <span>{{otherPerson?.displayName}}</span>
    </div>
    <button mat-icon-button >
        <mat-icon>info</mat-icon>
    </button>
  </nav>
  <main class="chat-view-body">
        <div class="message-list"  #scroll>
            <app-chat-bubble  *ngFor="let msg of (messageList$ | async)"
            [owner]="msg.from == appState.user?.displayName" 
            [timeStamp]="1221"
            [textMessage]="msg.message"
            ></app-chat-bubble>
            <ng-template appContentRef></ng-template>


        </div>
        <div class="input-section">
            <input type="text" class="input-field" [(ngModel)]="textMessage" (keydown)="sendMessage($event)" >
        
              <button mat-raised-button  color="primary" class="send-button" (click)="sendMessage($event)">
                <mat-icon>send</mat-icon>
            </button>
        </div>

  </main>
</section>
