<section
    [ngClass]="{'chat-view-section':true,darkMode:(appState.darkMode$|async),isViewPortLarge:appState.isViewPortLarge}"
    *ngIf="(currentChatRoom$|async) as currentChatRoom"
>
    <div *ngIf="!chatSocket?.socketStatus" class="connectionStatus">
        Can not connect to server
    </div>

    <mat-drawer-container autosize>

        <mat-drawer-content>



            <div class="main-content">



                <nav class="nav">
                    <div class="nav-part-1">
                        <ng-container *ngIf="!appState.isViewPortLarge">
                            <button mat-icon-button aria-label="go back button" (click)="goBack()">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </ng-container>
                        <div  style="display: grid;">
                            <button mat-button>
                                <app-user-avatar [imageWidth]="50" [displayName]="currentChatRoom.display_property.displayName"
                                    [photoURL]="currentChatRoom.display_property.photoURL">
                                </app-user-avatar>
                            </button>
                        </div>
                    </div>
                    <div class="nav-part-2">

                        <button mat-icon-button (click)="openInfoPanel()" >
                            <mat-icon *ngIf="this.drawer==false">arrow_left</mat-icon>
                            <mat-icon *ngIf="this.drawer==true">arrow_right</mat-icon>
                        </button>
                    </div>
                </nav>


                <main class="chat-view-body">
                    <div class="message-list"  #scroll appInfiniteScroll (scrollingUp)="onScrollUp()"
                        [restThrottleDistancePointObservable]="restDistancePointer" [throttleDistance]="200">
                        <app-chat-bubble #messages *ngFor="let msg of (messageList$ | async); let last = last; trackBy msgTrackBy"
                            [owner]="msg.user?.uid == appState.userDocID" [timeStamp]="1221" [message]="msg"
                        >
                        </app-chat-bubble>

                        <ng-container *ngIf="streamedValue$ |async as streamMsgs">

                            <app-chat-bubble #messages 
                                *ngFor="let msg of streamMsgs"
                            [owner]="msg.user?.uid == appState.userDocID" [timeStamp]="1221" [message]="msg"
                        >
                        </app-chat-bubble>

                        </ng-container>
                    </div>
                    <div class="input-section">
                        <input type="text" class="input-field" (keydown)="sendMessage($event)" [formControl]="reactiveTextMessageFromControl">

                        <button mat-raised-button color="primary" class="send-button" (click)="sendMessage($event)">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>

                </main>
            </div>

        </mat-drawer-content>

        <mat-drawer [opened]="drawer" (closed)="this.drawer=false" mode="side" position="end" class="sidenav">
            <app-chat-room-info></app-chat-room-info>
        </mat-drawer>

    </mat-drawer-container>

</section>