<div *ngIf="!renderInAside && appState.isViewPortLarge else elseBlock">
   <div class="image-container">
      <img src="/assets/undraw_quick_chat_re_bit5.svg" alt="" srcset="">
   </div>
</div>
<ng-template #elseBlock>
   <div class="additonal-items">

      <button  mat-icon-button (click)="refreshChatRoomList()" matTooltip="Refresh list" matTooltipPosition="above">
         <mat-icon>refresh</mat-icon>
      </button>
      
         <button [routerLink]="['/home/message/create-group']"  mat-icon-button matTooltip="Create Group" matTooltipPosition="above">
            <mat-icon>add_circle_outline</mat-icon>
         </button>
      
   </div>
   <div class="search-bar">
      <app-chat-room-search-bar (onSummit)="searchingForChatRoom($event)"></app-chat-room-search-bar>
   </div>
   <app-loading-spiner [isLoading]="loader.loading$" diameter="50"></app-loading-spiner>
   <ul class="list-items" *ngIf="chatRooms$ | async as chatroom">
      <li class="list-item" *ngFor="let room of chatroom; trackBy listTrackBy">
         <div [routerLink]="['/home/message',room.id,room.room_id]" class="list-item-link"
            [routerLinkActive]="'list-item-active'">
            <button mat-button class="list-item-box">
               <app-user-avatar 
               [displayName]="room.display_property.displayName" 
               [photoURL]="room.display_property.photoURL">
            </app-user-avatar>
            </button>
         </div>
      </li>
   </ul>
</ng-template>