
<div *ngIf="!renderInAside && appState.isViewPortLarge else elseBlock">
   <div class="image-container">
      <img src="/assets/undraw_quick_chat_re_bit5.svg" alt="" srcset="">
   </div>
</div>
<ng-template #elseBlock>
   <app-loading-spiner [isLoading]="loader.loading$" diameter="50"></app-loading-spiner>
   <ul class="list-items">
      <li
      class="list-item"
      *ngFor="let room of chatRooms$ | async; last as last">
      <div  [routerLink]="['/home/message',room.display_name,room.room_id,room.id]"  class="list-item-link" [routerLinkActive]="'list-item-active'">   
         <button mat-button class="list-item-box">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            {{room.display_name}}
         </button>
      </div>
      </li>
  </ul>
</ng-template>


 