
<div *ngIf="!renderInAside && appState.isViewPortLarge else elseBlock">
   <div class="image-container">
      <img src="/assets/undraw_quick_chat_re_bit5.svg" alt="" srcset="">
   </div>
</div>
<ng-template #elseBlock>
   <app-loading-spiner [isLoading]="loader.isLoading" diameter="50"></app-loading-spiner>
   <ul class="list-items">
      <li
      class="list-item"
      *ngFor="let folder of peoples$ | async; last as last">
      <a  [routerLink]="['/home/message',folder.docId,folder.roomId]"  class="list-item-link" [routerLinkActive]="'list-item-active'">   
         <button mat-button class="list-item-box">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            {{folder.displayName}}
         </button>
      </a>
      </li>
  </ul>
</ng-template>


 