$based-padding: 0.5em 1em;

.list-items {
    width: 100%;
    padding: 0;
}

.list-item {
    list-style: none;
}

.list-item-link {

    text-decoration: none;
}

.darkMode {
    .list-item-link {
        color: white;
    }
}

.list-item-box {
    width: 100%;
    height: inherit;
    padding: $based-padding;

}

.list-item-active .list-item-box {
    background-color: rgba(168, 189, 170, 0.407);
}
.list-item-box ::ng-deep .mdc-button__label{
    width: 100%;
}

.image-container {
    width: 100%;
    display: grid;
    place-items: center;
    height: calc(100vh - 16px);

    img {
        width: 50%;
    }
}

.search-bar{
    padding: $based-padding;
}

.additonal-items{
    display: flex;
    justify-content: end;
}