<mat-drawer-container class="drawer-container">
    <mat-drawer [opened]="appState.appDrawer" class="drawer-sidenav" mode="over" (closed)="appState.drawerClose()">

        <div class="drawer-sidenav-header">
            <div *ngIf="appState.user?.photoURL" class="userphoto">
                <img [src]="appState.user?.photoURL" alt="user photo" srcset="">
            </div>
            <p>
                {{appState.user?.displayName}}
            </p>
        </div>
        <mat-divider></mat-divider>
        <div class="navs-buttons">
            <div [routerLink]="['/home']" class="addFirendsLink">
                <button mat-flat-button >
                    <div class="button-icon-container">
                        <mat-icon>chat</mat-icon>
                        <div>
                            Messages
                        </div>
                    </div>
                </button>
            </div>
            <div [routerLink]="['/home/add-friends']" class="addFirendsLink">
                <button mat-flat-button >
                    <div class="button-icon-container">
                        <mat-icon>add</mat-icon>
                        <div>
                           Add Friends
                        </div>
                    </div>
                </button>
            </div>
            <div [routerLink]="['/home/all-friends']" class="addFirendsLink">
                <button 
                mat-flat-button 
                [matBadge]="indicator.requestIndicator$ | async" 
                matBadgeSize="small"
                matBadgeOverlap="false" 
                [matBadgeHidden]="( indicator.requestIndicator$ | async ) === 0"
                matBadgeColor="warn"
                >
                    <div class="button-icon-container">
                        <mat-icon>supervisor_account</mat-icon>
                        <div>
                            All Friends
                        </div>
                    </div>
                </button>
            </div>
            <div class="logoutBtn-container">
                <div class="button-icon-container">
                    <button mat-button (click)="logout()"> 
                        <mat-icon>exit_to_app</mat-icon>
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </mat-drawer>

    <section class="main-section">
        <header class="main-header">
            <app-header></app-header>
        </header>
        <div class="chat-body">
            <div *ngIf="appState.isViewPortLarge; else elseBlock" class="chat-body">
                <aside>
                    <app-chatlist [renderInAside]="true"></app-chatlist>
                </aside>
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>


        <ng-template #elseBlock>
            <div class="chat-body">
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </ng-template>
    </section>

</mat-drawer-container>