<mat-drawer-container class="drawer-container">
    <mat-drawer [opened]="appState.appDrawer" class="drawer-sidenav" mode="over" (closed)="appState.drawerClose()">
        <button mat-button (click)="logout()">
            logout
        </button>
    </mat-drawer>

    <section class="main-section">
        <header class="main-header">
            <app-header></app-header>
        </header>
        <div class="chat-body">
            <div *ngIf="appState.isViewPortLarge; else elseBlock" class="chat-body">
                <aside>
                    <app-chatlist [renderInAside]="true"></app-chatlist>
                </aside>
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>


        <ng-template #elseBlock>
            <div class="chat-body">
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </ng-template>
    </section>

</mat-drawer-container>