
.main-section{
    height: 100vh;
  }
  
  .main-header{
    height: 64px;
  }
  
  .chat-body{
    height: calc(100vh - 64px) ;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
  
    aside{
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    }
    main{
      /* margin: 1em 1em 0 1em; */
      // padding: 0 1em 0 1em;
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      flex: 1;
      
    }
  
  }
  
  .drawer-sidenav{
    width: 250px;
  }

  .drawer-sidenav-header{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2em 1.2em;
    flex-direction: column;
    justify-content: center;

    .userphoto img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    p{
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }
  }

  .navs-buttons{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .addFirendsLink{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .addFirendsLink button{
    background: #512da8;
    border-radius: 20px;
    color: white;
  }

.button-icon-container{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.logoutBtn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

